* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    background-image: url(../imagenes/back5.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* ATRIBUTOS BACKGROUND DE BODY */
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-family: 'Syne Mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffffff;
}

header {
    margin: auto;
    max-width: 100%;
    width: 90%;
}

#productos {
    margin: 1em;
    max-width: 100%;
    width: 95%;
    /* ATRIBUTOS GENERALES DE LA SECCION PRODUCTOS */
    /* ATRIBUTOS BACKGROUND DE LA SECCION PRODUCTOS */
}

#contenedor-articulo {
    font-family: 'Syne Mono', monospace;
}

#contenedor-articulo2 {
    font-family: 'Syne Mono', monospace;
}

#contenedor-articulo3 {
    font-family: 'Syne Mono', monospace;
}

#contenedor-articulo4 {
    font-family: 'Syne Mono', monospace;
}

.contenedor1 {
    color: #ffffff;
    font-family: 'Syne Mono', monospace;
    margin: auto;
    max-width: 100%;
    overflow: hidden;
    padding: 70px 0;
    width: 90%;
}

h1 {
    font-size: 50px;
}


/* CAMBIO COLOR LETRAS */

.contenedor {
    margin: 5%;
    color: #ffffff;
    font-family: 'Syne Mono', monospace;
}

.contenedor4 {
    color: #ffffff;
    font-family: 'Syne Mono', monospace;
}

.contenedor5 {
    margin: 5%;
    color: #ffffff;
    font-family: 'Syne Mono', monospace;
}

.contenedortext img {
    max-width: 100px;
    width: 200px;
}

.contenedortext h1{
    font-family: 'Press Start 2P', cursive;
}

/* ATRIBUTOS GENERALES DE LA CAJA NAV */

#menu {
    background-color: #212529;
    opacity: 90%;
    font-family: 'Press Start 2P', cursive;
    overflow: hidden;
    position: fixed;
    top: 15px;
    z-index: 100;
    border-radius: 100px;
    /* ATRIBUTOS BORDER DE LA CAJA NAV */
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

#contMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#main{
    margin: auto;
    padding: 0%;
}


/* ATTRIBUTOS DE LETRAS DE VINCULOS (DESDE EL ul)*/

#lista a:hover {
    background-color: #000000;
}

#lista {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

#titulo {
    background-attachment: fixed;
    background-image: url(../imagenes/tecno.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 100px / 120px;
    border: 5mm ridge #5038a85b;
    display: flex;
    flex-direction: column;
    height: 360px;
    list-style: none;
    margin: 100px;
    overflow: hidden;
    padding: 0px;
    -webkit-border-radius: 10px 100px / 120px;
    -moz-border-radius: 10px 100px / 120px;
    -ms-border-radius: 10px 100px / 120px;
    -o-border-radius: 10px 100px / 120px;
}

/* ATRIBUTOS GENERALES DE TITULO */

#titulo li.titulotxt {
    color: rgb(255, 255, 255);
    font-family: 'Press Start 2P', cursive;
    font-size: 80px;
    margin: 90px 0px;
    position: relative;
    text-align: center;
    text-shadow: 0.05em 0 0 #ff0000, -0.025em -0.05em 0 #05fc05, 0.025em 0.05em 0 #0000ffbf;
}

.servicios {
    color: white;
    font-family: 'Syne Mono', monospace;
    margin: 0px;
    padding: 0px;
    position: relative;
    text-align: center;
    text-shadow: 0.05em 0 0 #ff0000, -0.025em -0.05em 0 #05fc05, 0.025em 0.05em 0 #0000ffbf;
    top: -150px;
}

#lista li i{
    font-size: 30px;
    color: white;
    padding: 0px 10px;
    
}

#lista a {
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    padding: 0px 7px;
    text-decoration: none;
}

#lista li {
    display: inline;
    margin: 0%;
    padding: 15px;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
}

#lista li:hover {
    background-color: #000000;
    padding: 20px 0px;
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

#lista {
    list-style-type: none;
    padding: 10px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.segundos {
    transition: 1s;
}

.carousel-indicators {
    min-height: 0em;
}


/* ATRIBUTOS GENERALES CAJA OFRECEMOS */

#caja-ofrecemos {
    font-family: 'Smokum', cursive;
    font-size: 35px;
    position: relative;
    left: 50%;
    top: 100%;
}


/* ATRIBUTOS DE TITULO PRODUCTO */

#productos h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    line-height: 1.5;
    padding: 0.5em;
    text-shadow: 0.05em 0 0 #ff0000, -0.025em -0.05em 0 #05fc05, 0.040em 0.05em 0 #0000ffbf;
}


/* ARTICULOS AREA PRODUCTOS*/

#articulo1 {
    background-color: #10095e3b;
    border-radius: 100px 100px;
    display: flex;
    flex-direction: row;
    height: 500px;
    list-style: none;
    overflow: hidden;
    padding: 0px 100px;
    position: relative;
}

#articulo2 {
    background-color: #10095e3b;
    display: flex;
    flex-direction: row;
    height: 500px;
    list-style: none;
    overflow: hidden;
    padding: 0px 100px;
    position: relative;
}

#articulo3 {
    background-color: #10095e3b;
    border-radius: 100px 100px;
    display: flex;
    flex-direction: row;
    height: 500px;
    list-style: none;
    overflow: hidden;
    padding: 0px 100px;
    position: relative;
}

#articulo4 {
    background-color: #10095e3b;
    border-radius: 100px 100px;
    display: flex;
    flex-direction: row;
    height: 500px;
    list-style: none;
    overflow: hidden;
    padding: 0px 100px;
    position: relative;
}

#articulo5 {
    background-color: #10095e3b;
    border-radius: 100px 100px;
    display: flex;
    flex-direction: row;
    height: 500px;
    list-style: none;
    overflow: hidden;
    padding: 0px 100px;
    position: relative;
}

#articulo1 img {
    height: 350px;
    margin: 0px 300px;
    max-height: 500%;
    max-width: 500%;
    position: relative;
    width: 350px;
}

#articulo2 img {
    height: 350px;
    margin: 0px 300px;
    max-height: 500%;
    max-width: 500%;
    position: relative;
    width: 350px;
}

#articulo3 img {
    height: 350px;
    margin: 0px 300px;
    max-height: 500%;
    max-width: 500%;
    position: relative;
    width: 350px;
}

#articulo4 img {
    height: 350px;
    margin: 0px 300px;
    max-height: 500%;
    max-width: 500%;
    position: relative;
    width: 350px;
}

#articulo5 img {
    height: 350px;
    margin: 0px 300px;
    max-height: 500%;
    max-width: 500%;
    position: relative;
    width: 350px;
}

#articulo1 .compra-aqui {
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    color: transparent;
    font-size: 40px;
    text-decoration: none;
}

#articulo2 .compra-aqui {
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    color: transparent;
    font-size: 40px;
    text-decoration: none;
}

#articulo3 .compra-aqui {
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    color: transparent;
    font-size: 40px;
    text-decoration: none;
}

#articulo4 .compra-aqui {
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    color: transparent;
    font-size: 40px;
    text-decoration: none;
}

#articulo5 .compra-aqui {
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    color: transparent;
    font-size: 40px;
    text-decoration: none;
}

.carousel-item {
    background-color: #10095875;
    border-radius: 100px;
    border: 1mm ridge;
    min-height: 280px;
    padding: 0px;
    position: relative;
    transition-duration: 1s;
}

#articulo2 img {
    height: 350px;
    max-height: 500%;
    max-width: 500%;
    width: 350px;
}

#articulo3 img {
    height: 350px;
    max-height: 500%;
    max-width: 500%;
    width: 350px;
}

#articulo4 img {
    height: 350px;
    max-height: 500%;
    max-width: 500%;
    width: 350px;
}

#articulo5 img {
    height: 350px;
    max-height: 500%;
    max-width: 500%;
    width: 350px;
}

#articulo1 p {
    color: white;
    font-size: 20px;
    text-shadow: 0.05em 0 0 #ff0000, -0.025em -0.05em 0 #05fc05, 0.040em 0.05em 0 #0000ffbf;
}

#articulo2 p {
    font-size: 20px;
    text-shadow: 0.05em 0 0 #ff0000, -0.025em -0.05em 0 #05fc05, 0.040em 0.05em 0 #0000ffbf;
}

#articulo3 p {
    font-size: 20px;
    text-shadow: 0.05em 0 0 #ff0000, -0.025em -0.05em 0 #05fc05, 0.040em 0.05em 0 #0000ffbf;
}

#articulo4 p {
    font-size: 20px;
    text-shadow: 0.05em 0 0 #ff0000, -0.025em -0.05em 0 #05fc05, 0.040em 0.05em 0 #0000ffbf;
}

#articulo5 p {
    font-size: 20px;
    text-shadow: 0.05em 0 0 #ff0000, -0.025em -0.05em 0 #05fc05, 0.040em 0.05em 0 #0000ffbf;
}

#lista-redes {
    list-style: none;
}

#lista-redes p {
    font-size: 30px;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, blue, green, red);
    text-shadow: black 0.05em 0 0;
    color: transparent;
}


/* FOOTER  */

.pie-pagina {
    width: 100%;
    background-color: #212529;
    opacity: 90%;
    font-family: 'Press Start 2P', cursive;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure a {
    width: 250px;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: rgb(104, 10, 68);
}

.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

a {
    color: #FFFF;
}

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}


/*
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/


/* DISEÑO MOBILE */

@media only screen and (min-width: 320px) {
    #menu {
        width: 90%;
        /* ATRIBUTOS BORDER DE LA CAJA NAV */
    }
    #lista {
        font-size: 10px;
        margin: 0px -45px;
        padding: 0px;
        overflow: auto;
        text-align: left;
    }
    div.vinculos-header {
        display: flex;
        flex-direction: row;
        right: 8px;
        top: 12px;
    }
    #titulo {
        margin: 100px 0px;
    }
    .contenedor-titulo {
        margin: 10px;
        padding: 10px;
    }
    .servicios {
        font-size: 13px;
        margin: -20px 0px;
    }
    #articulo1 {
        padding: 0px 19px;
        height: 300px;
    }
    #articulo2 {
        padding: 0px 19px;
        height: 300px;
    }
    #articulo3 {
        padding: 0px 19px;
        height: 300px;
    }
    #articulo4 {
        padding: 0px 19px;
        height: 300px;
    }
    #articulo5 {
        padding: 0px 19px;
        height: 300px;
    }
    #articulo1 img {
        margin: 50px 6px;
        width: 99%;
        height: 60%;
    }
    #articulo2 img {
        margin: 50px 6px;
        width: 99%;
        height: 60%;
    }
    #articulo3 img {
        margin: 50px 6px;
        width: 99%;
        height: 60%;
    }
    #articulo4 img {
        margin: 50px 6px;
        width: 99%;
        height: 60%;
    }
    #articulo5 img {
        margin: 50px 6px;
        width: 99%;
        height: 60%;
    }
    #productos h1 {
        font-size: 21px;
    }
    #contenedortext img {
        width: 100%;
    }
    #contenedor5img {
        width: 100%;
    }
    #caja-ofrecemos {
        top: -180px;
        left: -100px;
        text-align: right;
    }
    #titulo li.titulotxt {
        font-size: 18px;
        margin: 120px 0px;
    }
    #lista-redes p {
        font-size: 24px;
    }
    .somos {
        position: absolute;
    }
    .contenedortext img {
        max-width: 310px;
    }
    .contenedor3 {
        margin: auto;
    }
}

@media screen and (min-width: 480px) {
    #menu {
        width: 28%;
        /* ATRIBUTOS BORDER DE LA CAJA NAV */
    }
}


/* DISEÑO TABLET */

@media screen and (min-width: 481px) {
    #menu {
        width: 90%;
        /* ATRIBUTOS BORDER DE LA CAJA NAV */
    }
    #lista {
        font-size: 11px;
        margin: 0px;
        padding: 0px;
        overflow: auto;
        text-align: left;
    }
    div.vinculos-header {
        display: flex;
        flex-direction: row;
        right: 40px;
        top: 12px;
    }
    #titulo {
        margin: 100px 0px;
    }
    .servicios {
        font-size: 15px;
        margin: -20px 0px;
        line-height: 0.5em;
    }
    #articulo1 {
        padding: 0px 19px;
        height: 300px;
    }
    #articulo2 {
        padding: 0px 19px;
        height: 300px;
    }
    #articulo3 {
        padding: 0px 19px;
        height: 300px;
    }
    #articulo4 {
        padding: 0px 19px;
        height: 300px;
    }
    #articulo5 {
        padding: 0px 19px;
        height: 300px;
    }
    #articulo1 img {
        margin: 50px 6px;
        width: 99%;
        height: 60%;
    }
    #articulo2 img {
        margin: 50px 6px;
        width: 99%;
        height: 60%;
    }
    #articulo3 img {
        margin: 50px 6px;
        width: 99%;
        height: 60%;
    }
    #articulo4 img {
        margin: 50px 6px;
        width: 99%;
        height: 60%;
    }
    #articulo5 img {
        margin: 50px 6px;
        width: 99%;
        height: 60%;
    }
    #productos h1 {
        font-size: 21px;
    }
    #contenedortext img {
        width: 100%;
    }
    #contenedor5img {
        width: 100%;
    }
    #caja-ofrecemos {
        top: -180px;
        left: -100px;
        text-align: right;
    }
    #titulo li.titulotxt {
        font-size: 20px;
        margin: 120px 0px;
    }
    #lista-redes p {
        font-size: 24px;
    }
    .somos {
        position: absolute;
    }
    .contenedor3 img {
        max-width: 310px;
    }

}

@media screen and (min-width: 768px) {
    #menu {
        width: 90%;
        /* ATRIBUTOS BORDER DE LA CAJA NAV */
    }
    #titulo li.titulotxt {
        font-size: 30px;
        margin: 120px 0px;
    }
    .servicios {
        font-size: 15px;
    }
    #productos h1 {
        font-size: 28px;
    }
    #articulo1 {
        height: 400px;
    }
    #articulo2 {
        height: 400px;
    }
    #articulo3 {
        height: 400px;
    }
    #articulo4 {
        height: 400px;
    }
    #articulo5 {
        height: 400px;
    }
    #articulo1 img {
        margin: 15px 121px;
        width: 50%;
        height: 50%;
    }
    #articulo2 img {
        margin: 15px 121px;
        width: 50%;
        height: 50%;
    }
    #articulo3 img {
        margin: 15px 121px;
        width: 50%;
        height: 50%;
    }
    #articulo4 img {
        margin: 15px 121px;
        width: 50%;
        height: 50%;
    }
    #articulo5 img {
        margin: 15px 121px;
        width: 50%;
        height: 50%;
    }
    div.carousel-caption {
        bottom: 0.25rem;
    }
    .contenedortext img {
        max-width: 600px;
    }
    #caja-ofrecemos {
        top: -370px;
        left: 40%;
    }
}


/* DISEÑO LAPTOP CHICA */

@media screen and (min-width: 769px) {
    #menu {
        width: 90%;
        /* ATRIBUTOS BORDER DE LA CAJA NAV */
    }
    #titulo li.titulotxt {
        font-size: 30px;
        margin: 120px 0px;
    }
    .servicios {
        font-size: 25px;
    }
    #productos h1 {
        font-size: 28px;
    }
    #articulo1 {
        height: 400px;
    }
    #articulo2 {
        height: 400px;
    }
    #articulo3 {
        height: 400px;
    }
    #articulo4 {
        height: 400px;
    }
    #articulo5 {
        height: 400px;
    }
    #articulo1 img {
        margin: 15px 121px;
        width: 50%;
        height: 50%;
    }
    #articulo2 img {
        margin: 15px 121px;
        width: 50%;
        height: 50%;
    }
    #articulo3 img {
        margin: 15px 121px;
        width: 50%;
        height: 50%;
    }
    #articulo4 img {
        margin: 15px 121px;
        width: 50%;
        height: 50%;
    }
    #articulo5 img {
        margin: 15px 121px;
        width: 50%;
        height: 50%;
    }
    div.carousel-caption {
        bottom: 0.25rem;
    }
    #caja-ofrecemos {
        top: -370px;
        left: 40%;
    }
}

@media screen and (min-width: 1024px) {
    #menu {
        width: 90%;
    }
    #lista {
        margin: 0px 34px;
        font-size: 16px;
        overflow: hidden;
        padding: 30px 0px;
    }
    #productos h1 {
        font-size: 40px;
    }
    #articulo1 {
        height: 500px;
        padding: 0px 100px;
    }
    #articulo2 {
        height: 500px;
        padding: 0px 100px;
    }
    #articulo3 {
        height: 500px;
        padding: 0px 100px;
    }
    #articulo4 {
        height: 500px;
        padding: 0px 100px;
    }
    #articulo5 {
        height: 500px;
        padding: 0px 100px;
    }
    #articulo1 img {
        margin: 0px 235px;
        width: 54%;
        height: 90%;
    }
    #articulo2 img {
        margin: 0px 235px;
        width: 54%;
        height: 90%;
    }
    #articulo3 img {
        margin: 0px 235px;
        width: 54%;
        height: 90%;
    }
    #articulo4 img {
        margin: 0px 235px;
        width: 54%;
        height: 90%;
    }
    #articulo5 img {
        margin: 0px 235px;
        width: 54%;
        height: 90%;
    }
    #contenedortext img {
        width: 70%;
    }
    #contenedor5 {
        width: 70%;
    }
    /* ATRIBUTOS GENERALES DE TITULO */
    #titulo li.titulotxt {
        font-size: 80px;
        margin: 90px 0px;
    }
    .somos {
        position: relative;
    }
    .servicios {
        font-size: 24px;
    }
    #caja-ofrecemos {
        top: -500px;
        left: -33%;
    }
}