/*GENERAL DE LA PAGINA*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/*CUERPO*/

body {
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
    background-repeat: no-repeat;
    background-image: url(../imagenes/bg4.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: #593a81;
}

header {
    margin: auto;
    max-width: 100%;
    width: 90%;
}

#menu {
    background-color: #212529;
    opacity: 90%;
    font-family: 'Press Start 2P', cursive;
    overflow: hidden;
    position: fixed;
    top: 15px;
    z-index: 100;
    border-radius: 100px;
    /* ATRIBUTOS BORDER DE LA CAJA NAV */
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

#contMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#lista li i{
    font-size: 30px;
    color: white;
    padding: 0px 10px;
    
}

#lista a {
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    padding: 0px 7px;
    text-decoration: none;
}

#lista li {
    display: inline;
    margin: 0%;
    padding: 15px;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
}

#lista li:hover {
    background-color: #000000;
    padding: 20px 0px;
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

#lista {
    list-style-type: none;
    padding: 10px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

#lista a:hover {
    background-color: #000000;
}



main {
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}


/*EL FORMULARIO EN GENERAL*/

.formulario {
    display: flex;
    flex-direction: column;
}


/*LOS LABEL DEL FORMULARIO*/

.formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    color:white;
    text-align: center;
}


/*LOS GRUPO INPUT DEL FORMULARIO*/

.formulario__grupo-input {
    position: relative;
}


/*INPUT (SEPARADO DE LOS GRUPO_INPUT)*/

.formulario__input {
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -ms-transition: .3s ease all;
    -o-transition: .3s ease all;
}


/*CUANDO SE HAGA CLICK EN EL INPUT*/

.formulario__input:focus {
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}


/*ERROR, CUANDO ESTE MAL RELLENADO EL FORMULARIO*/

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
    /*INACTIVO*/
}


/*EL ERROR CUANDO SE ENCUENTRE ACTIVO*/

.formulario__input-error-activo {
    display: block;
    font-family: 'Press Start 2P', cursive;
    color:white;
    -webkit-text-stroke: 0.50px red;
}


/*CUANDO EXISTA ALGUN ERROR*/

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}


/*TAMANO DEL CHECKBOX*/

.formulario__checkbox {
    margin-right: 10px;
}


/*MENSAJE DE ERROR*/

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}


/*MENSAJE DE ERROR*/

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: #ff0000;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}


/*MENSJAE CUANDO SE ENCUENTRE ACTIVO*/

.formulario__mensaje-activo {
    display: block;
}


/*PARRAFO DEL MENSAJE*/

.formulario__mensaje p {
    margin: 0;
}


/*BOTON ENVIAR*/

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*BOTON ENVIAR*/

.formulario__btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
    font-family: 'Press Start 2P', cursive;
    margin: 50px 0px;
}


/*BOTON ENVIAR*/

.formulario__btn:hover {
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}


/*MSJ EXITO*/

.formulario__mensaje-exito {
    font-size: 20px;
    color: #ffffff;
    display: none;
}


/*MSJ EXITO CUANDO ESTE ACTIVO*/

.formulario__mensaje-exito-activo {
    display: block;
}


/* ESTILO PARA VALIDACION*/

.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}

#mensaje {
    background-color: #ffffff;
}


/* MEDIA QUERI OSEA RESPONSIVO */

@media screen and (max-width: 800px) {
    .formulario {
        grid-template-columns: 1fr;
    }
    .formulario__grupo-terminos,
    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }
    .formulario__btn {
        width: 100%;
    }
}


/*ESTILO HEADER SPAN (ICONO)*/

span {
    width: 100%;
    font-size: 100px;
    display: block;
    text-align: center;
    padding: 6.5rem;
}

span i{
    color:white;
    text-shadow: 0.05em 0 0 #ff0000, -0.025em -0.05em 0 #05fc05, 0.040em 0.05em 0 #0000ffbf;
}

.parrafo{
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    color: white;
    padding: 10px;
    text-shadow: 0.05em 0 0 #ff0000, -0.025em -0.05em 0 #05fc05, 0.040em 0.05em 0 #0000ffbf;
}


/* FOOTER */

.pie-pagina {
    width: 100%;
    background-color: #212529;
    opacity: 90%;
    font-family: 'Press Start 2P', cursive;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure a {
    width: 250px;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: rgb(104, 10, 68);
}

.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

a {
    color: #FFFF;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
}

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}
@media only screen and (min-width: 320px) {
    #menu {
        width: 90%;
        left: 10px;
        /* ATRIBUTOS BORDER DE LA CAJA NAV */
    }
    #lista {
        font-size: 10px;
        margin: 0px -45px;
        padding: 0px;
        overflow: auto;
        text-align: left;
    }
    div.vinculos-header {
        display: flex;
        flex-direction: row;
        right: 8px;
        top: 12px;
    }
}

@media screen and (min-width: 480px) {
    #menu {
        width: 28%;
        left: 10px;
        /* ATRIBUTOS BORDER DE LA CAJA NAV */
    }
}


/* DISEÑO TABLET */

@media screen and (min-width: 481px) {
    #menu {
        width: 90%;
        left: 10px;
        /* ATRIBUTOS BORDER DE LA CAJA NAV */
    }
    #lista {
        font-size: 11px;
        margin: 0px;
        padding: 0px;
        overflow: auto;
        text-align: left;
    }
    div.vinculos-header {
        display: flex;
        flex-direction: row;
        right: 40px;
        top: 12px;
    }


}

@media screen and (min-width: 768px) {
    #menu {
        width: 90%;
        left: 10px;
        /* ATRIBUTOS BORDER DE LA CAJA NAV */
    }

}


/* DISEÑO LAPTOP CHICA */

@media screen and (min-width: 769px) {
    #menu {
        width: 90%;
        left: 10px;
    }
}

@media screen and (min-width: 1024px) {
    #menu {
        width: 90%;
        justify-content: center;
        margin: 0px 50px;
    }
    #lista {
        margin: 0px 34px;
        font-size: 16px;
        overflow: hidden;
        padding: 20px 0px;
    }

}
