body{
    font-family: 'Press Start 2P', cursive;
    background-color: #ffffff;
    background-image: url(../imagenes/bg4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#titulo{
    text-align: center;
    color: white;
}

#suscripciones{
    font-family: 'Press Start 2P', cursive;
    color: white;
}

#suscripciones .lista{
    text-align: center;
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    height: 500px;
}

#suscripciones .sus{
    padding: 10px 50px;
    margin: 40px 30px;
}

.plata{
    background-color: silver;
    border: 4mm ridge silver;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
}

.oro{
    background-color: gold;
    border: 4mm ridge gold;
}

.bronce{
    background-color: rgb(203, 138, 9);
    border: 4mm ridge rgb(203, 138, 9);
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
}

.pie-pagina {
    width: 100%;
    background-color: #212529;
    opacity: 90%;
    font-family: 'Press Start 2P', cursive;
    top: 100px;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure a {
    width: 250px;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: rgb(104, 10, 68);
}

.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}
