<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css" integrity="sha384-eoTu3+HydHRBIjnCVwsFyCpUDZHZSFKEJD0mc3ZqSBSb6YhZzRHeiomAUWCstIWo" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <title>Carrito</title>
</head>
<body>
  <div class="alert alert-primary" role="alert">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="row" colspan="3" class="text-center">CARRITO</th>
        </tr>
        <tr>
          <th scope="col">NOMBRE</th>
          <th scope="col">PRECIO</th>
          <th scope="col">CANTIDAD</th>
        </tr>
      </thead>
      <tbody>
      {% if request.session.carrito.items %}
      {% for key, value in request.session.carrito.items %}
        <tr>
          <td>{{value.nombre}}</td>
          <td>{{value.precio}}</td>
          <td>{{value.acumulado}}
            <a href="{% url 'Add' value.producto_id %}" class="badge btn btn-dark badge-dark">+</a>
            <a href="{% url 'Sub' value.producto_id %}" class="badge btn btn-dark badge-dark">-</a>
          </td>
        </tr>
      {% endfor %}
      {% else %}
      <tr>
          <td colspan="3">
              <div class="alert alert-danger text-center"> Sin Productos </div>
          </td>
      </tr>
      {% endif %}
        <tr>
          <th scope="row">Total:</th>
          <td colspan="2">$ {{total_carrito}}</td>
        </tr>
      </tbody>
    </table>
    <hr>
    </div>
    <div class="row text-center">
        <div class="col-6"><a href="{% url 'CLS' %}" class="btn btn-danger">Limpiar</a></div>
        <div class="col-6"><a href="#" class="btn btn-success">Guardar</a></div>
    </div>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>