{% load rest_framework %}

...

<form target="" class="form-horizontal" action="{% url 'login-valida' %}" method="post" novalidate>
    {% csrf_token %}
    {% render_form serializer %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input onclick="window.location.href = '/';" type="submit" value="login" />
        </div>
    </div>
    <div id="error" class="alert alert-success" role="alert">
        {{ mensaje }}
    </div>
    
</form>
<form target="_blank" class="form-horizontal" action="{% url 'account_logout' %}" method="post" novalidate>
    {% csrf_token %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input onclick="window.location.href = '/';" type="submit" value="Logout" />
        </div>
    </div>
    <div id="error" class="alert alert-success" role="alert">
        {{ mensaje }}
    </div>
 
    
</form>